<h2>Product Details</h2>
<table>
    
    <tr>
        <td>Product Id</td>
        <td>{{productdetails.product_Id}}</td>
    </tr>
    <tr>
        <td>Product Name</td>
        <td>{{productdetails.productName}}</td>
    </tr>
    <tr>
        <td>Entry Date</td>
        <td>{{productdetails.entryDate | date:"EEEE, MMMM d, y"}}</td>
    </tr>
    <tr>
        <td>Price for Today (Including Reduction)</td>
        <td>{{productdetails.price | currency:'EUR'}}</td>
    </tr>
    
  
        
        
       
    
</table>